@import url('./components/header.css');
@import url('./components/hero-section.css');
@import url('../../srcs/css/micro-transactions/header.css');
@import url('../../srcs/css/components/about-me.css');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

