@import url('./components/header.css');
@import url('./components/hero-section.css');
@import url('./components/about-me.css');
@import url('./components/our-work.css');
@import url('./micro-transactions/header.css');
@import url('./variables.css');
@import url('./micro-transactions/our-work.css');
@import url('./components/testimonials.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* width: calc(100% - var(--large-screen-size-container)); */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Type face Gloss */
@font-face {
    font-family: "Gloss And Bloom";
    src: url('../assets/fonts/Gloss_And_Bloom.ttf') format('woff');
}

/* Loto type face */

/* black lato type face */
@font-face {
    font-family: "Lato", sans-serif;
    src: url(../assets/fonts/Lato-Black.ttf) format('woff');
    font-weight: 900;
}

/* bold Lato type face */
@font-face {
    font-family: "Lato", sans-serif;
    src: url(../assets/fonts/Lato-Bold.ttf) format('woff');
    font-weight: 700;
}

/* regular Lato type face */
@font-face {
    font-family: "Lato", sans-serif;
    src: url(../assets/fonts/Lato-Regular.ttf) format("woff");
}