@import url('../variables.css');

.about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    background-color: #DBEFFD;
    padding: 104px 0px;
}

.about-me-section .title {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 900;
    color: #4F8EBB;
    margin-bottom: 24px;
}

.about-me-section .about-me-para {
    font-size: 24px;
    color: var(--paragraph-color);
    line-height: 2.5rem;
}

.about-me-container {
    text-align: center;
}