.our-work-section {
    
}
.our-work-section .title {
    width: 100%;
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    color: #9BC0FF;
    font-weight: 900;
}