@import url('../variables.css');

.testimonials-content {
    background-color: #EAF6FF;
    padding: 104px 0px;
}

.testimonials-cards {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(6, 192px);
    grid-template-rows: repeat(6, 48px);
}

.testimonials-cards .testi-1 {
    grid-column: 1 / 3;
}

.testimonials-cards .testi-2 {
    grid-column: 3 / 5;
}

.testimonials-cards .testi-3 {
    grid-column: 5 / 7;
}

.testi-1, .testi-2, .testi-3 {
    background-color: #F3F5F7;
    text-align: center;
    grid-row: 1  / 7;
    box-shadow: 0px 0px 3px #a8a8a8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}